@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    background-color: rgba(0,0,0,.90);
}

.alert-dark {
    color: #ead582;
}

input {
    background-color: inherit;
}

.form-group {
    color: #ead582;
}

.form-control {
    background-color: #454545;
}

.navbar-brand {
    line-height: 2.5;
    color:  #ead582 !important;
}


/* custom classes */

.small-text {
    font-size: .8rem;
}



#app-logo {
    width: 3rem;
    height: 3rem;
}


.join-form {
    width: 16rem;
}

.chat-container {
    height: 70vh;
}

.chat-sidebar {
    font-size: .9rem;
    min-width: 7rem;
    overflow: scroll;
    text-align: center;
    background-color: #212529;
}

@media (min-width:576px) {
    .chat-sidebar {   
        font-size: 1rem;
        min-width: 8rem;
    }
}

.sidebar-text {
    color: #ead582;
    
}

.chat-messages {
    overflow: scroll;
}

.chat-message {
    min-width: 6rem;
    max-width: 8rem;
    box-shadow: rgba(0,0,0,.90) 2px 2px 15px;
    border-radius: 5px;
    background-color: dimgray;
    word-break: break-word;
}

@media (min-width:576px) {
    .chat-message {
        min-width: 16rem;
        max-width: 20rem;
    }
}


.chat-message .message-user {
    color: #b9b4b4;
}

.btn-logout {
    color: #fff;
    background-color: #79141e;
    border-color: #7b0b16;
}

.icon-size {
    font-size: 1.5rem;
}

.modalContent{
    background-color: none;
    border: none;
}
